.vs
Intermediate
Content
Binaries/*
!UnrealEditor-Slash.dll
!UnrealEditor.target 
!SlashEditor.target
!UnrealEditor.modules*/
DerivedDataCache
# **/AncientContent
# **/BlackAlder
# **/MedievalDungeon
# **/Megascans
# **/StarterContent
# **/Alice_Mountain