.vs
Intermediate/ProjectFiles/UE5.vcxproj
Intermediate/*
!ProjectFiles*/
Content
Binaries/*
!UnrealEditor-Slash.dll
!UnrealEditor.target 
!SlashEditor.target
!UnrealEditor.modules*/
DerivedDataCache
# **/AncientContent
# **/BlackAlder
# **/MedievalDungeon
# **/Megascans
# **/StarterContent
# **/Alice_Mountain